Dockers/IOTCloudMQTT-RPi/nodered/flows.json
[
    {
        "id": "1f4e924d.94fc06",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bad7f14.6c5609",
        "type": "mqtt in",
        "z": "1f4e924d.94fc06",
        "name": "",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "cca8ed6a.3341a",
        "x": 137.99998474121094,
        "y": 255.00001525878906,
        "wires": [
            [
                "f9c21858.cfc77"
            ]
        ]
    },
    {
        "id": "8ad51b9.52cd368",
        "type": "debug",
        "z": "1f4e924d.94fc06",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 518,
        "y": 141,
        "wires": []
    },
    {
        "id": "74681750.877578",
        "type": "influxdb out",
        "z": "1f4e924d.94fc06",
        "influxdb": "13c25ae3.e36c75",
        "name": "",
        "measurement": "sensor",
        "precision": "",
        "retentionPolicy": "",
        "x": 1080.5,
        "y": 327,
        "wires": []
    },
    {
        "id": "f9c21858.cfc77",
        "type": "json",
        "z": "1f4e924d.94fc06",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 325.5,
        "y": 255,
        "wires": [
            [
                "8ad51b9.52cd368",
                "eb2bda3e.4b1be8"
            ]
        ]
    },
    {
        "id": "29c1f5a.c45358a",
        "type": "debug",
        "z": "1f4e924d.94fc06",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 781.5,
        "y": 257,
        "wires": []
    },
    {
        "id": "871aa652.5dd108",
        "type": "template",
        "z": "1f4e924d.94fc06",
        "name": "Format to Influxdb",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"id\": \"{{payload.id}}\", \"temperature\": {{payload.params.temperature}}, \"humidite\": {{payload.params.humidite}}}",
        "x": 534,
        "y": 257,
        "wires": [
            [
                "8528d15c.ecbea8",
                "29c1f5a.c45358a"
            ]
        ]
    },
    {
        "id": "8528d15c.ecbea8",
        "type": "json",
        "z": "1f4e924d.94fc06",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 741.5,
        "y": 327,
        "wires": [
            [
                "7dba0600.359344"
            ]
        ]
    },
    {
        "id": "7dba0600.359344",
        "type": "function",
        "z": "1f4e924d.94fc06",
        "name": "",
        "func": "msg.measurement = \"sensors\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 875.5,
        "y": 327,
        "wires": [
            [
                "74681750.877578",
                "9a0c9906.14a36"
            ]
        ]
    },
    {
        "id": "9a0c9906.14a36",
        "type": "debug",
        "z": "1f4e924d.94fc06",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1049.499984741211,
        "y": 413.1999969482422,
        "wires": []
    },
    {
        "id": "eb2bda3e.4b1be8",
        "type": "function",
        "z": "1f4e924d.94fc06",
        "name": "",
        "func": "var outputString = \"\";\nvar id = msg.payload.id;\nvar params = msg.payload.params;\n\noutputString = \"{\\\"id\\\":\\\"\" + id + \"\\\"\";\nfor (var param in params)\n{\n    var value = params[param];\n    outputString += \", \";\n    outputString += \"\\\"\" + param + \"\\\":\"+ value;\n}\noutputString += \"}\";\n\nmsg.payload = outputString;\nmsg.measurement = \"sensors\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 511.5,
        "y": 474.5999755859375,
        "wires": [
            [
                "55c5998a.76267"
            ]
        ]
    },
    {
        "id": "b039acdc.2b2138",
        "type": "debug",
        "z": "1f4e924d.94fc06",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1003.5,
        "y": 565,
        "wires": []
    },
    {
        "id": "55c5998a.76267",
        "type": "json",
        "z": "1f4e924d.94fc06",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 759.5,
        "y": 475.79998779296875,
        "wires": [
            [
                "b039acdc.2b2138",
                "c2ed3dac.e81838"
            ]
        ]
    },
    {
        "id": "c2ed3dac.e81838",
        "type": "influxdb out",
        "z": "1f4e924d.94fc06",
        "influxdb": "13c25ae3.e36c75",
        "name": "",
        "measurement": "sensor",
        "precision": "",
        "retentionPolicy": "",
        "x": 1058.400146484375,
        "y": 474.20001220703125,
        "wires": []
    },
    {
        "id": "cca8ed6a.3341a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "m24.cloudmqtt.com",
        "port": "15556",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "13c25ae3.e36c75",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "iot",
        "name": "",
        "usetls": false,
        "tls": ""
    }
]